*{
  margin: 0;
  padding: 0;
}

a {
  list-style: none;
  text-decoration: none;
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 30px 200px;
}

.logo {
  font-size: 30px;
  font-weight: bolder;
}

.navItems {
  display: inline-block;
  padding: 0 30px;
  cursor: pointer;
  font-size: 20px;
}

.navItems:hover {
  font-weight: bolder;
  text-decoration: underline;
}

#contact {
  color: black;
  background-color: white;
  border-radius: 30px;
  padding: 15px 30px;
  font-weight: bold;
  text-transform: uppercase;
}

#contact:hover {
  background:rgb(140, 208, 241);
  color: white;
}

.menu-toggle {
	font-size: 24px;
	cursor: pointer;
	line-height: 50px;
	float: right;
	display: none;
}

.menu-toggle:hover {
	font-weight: bold;
}

.section1 {
  background-image: url("images/banner.jpg");
  height: 100vh;
	width: 100%;
	color: white;
	background-size: cover;
	background-position: 0 50%;
}

.banner {
  width: 50%;
  margin: auto;
  padding-top: 5%;
  text-align: center;
  font-size: 30px;
}

.section5, .section2, .section3, .section4 {
  background-color: rgb(253, 221, 225);
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr ;
  height: 80vh;
}

.card-info {
  width: 50%;
  margin: 15% auto;
}

.card-info > h2 {
  padding-bottom: 40px;
  font-size: 50px;
  font-weight: bold;
  line-height: 1.5em;
}

.card-info > p {
  padding-bottom: 50px;
  line-height: 1.5em;
}

.card > img {
  height: 80vh;
  width: 100%;
}

#learn {
  color: lightslategrey;
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline solid orange;
  text-decoration-thickness: 5px;
}

#learn:hover {
  text-decoration: underline solid orangered;
  text-decoration-thickness: 5px;

}

.section4-card{
  width: 70%;
  margin: -40% auto;
  text-align: center;
}

.section4-card > .card-info {
  width: 70%;
}

.section5 {
  padding: 30px;
}

.testimonial-header {
  width: 50%;
  margin: auto;
  padding: 70px 0;
  text-align: center;
  font-size: 20px;
  color: lightslategrey;
}

.section5-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 20px;
}

.testimonial-card {
  justify-content: center;
  text-align: center;
}

.testimonial-card > img {
  border-radius: 50%;
}

.testimonial-card > .card-info {
  width: 70%;
  margin: 10% auto;
}

.card-info > h5 {
  color: lightslategrey;
  padding-top: 10px;
}

.section6-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.section6-cards > img {
  width: 100%;
}

.section7 {
  background-color:hsl(168, 44%, 70%);
  color: hsl(168, 34%, 41%);
  padding: 20px;
  font-size: 20px;
}

.footer {
  width: 20%;
  margin: auto;
  padding: 30px 0 ;
  text-align: center;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  width: 20%;
  margin: auto;
  padding: 30px 0;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  color: hsl(168, 34%, 41%);
}

.footer-info > a {
  color: hsl(168, 34%, 41%);
}

.footer-info > a:hover {
  color: white;
}

@media (max-width: 1700px) {

  .section4-card {
    width: 100%;
    margin: -45% auto;
  }

}

@media (max-width: 1200px) {
  nav {
    padding: 30px 40px;
  }

  .section1 {
    background-position: center;
  }

  .banner {
    width: 90%;
  }

  .section4-card {
    margin: -55% auto;
  }

  .card > .card-info {
    width: 70%;
  }

  .footer-info {
    width: 40%;
  }

}

@media (max-width: 1050px) {

  nav {
    padding: 30px 60px;
  }

  .section1 {
    background-position: center;
  }

  .banner {
    width: 70%;
  }

  .cards , .card > img {
    height: 60vh;
  }

  .card-info {
    margin: 15% auto;
    width: 70%;
    text-align: center;
  }

  .card-info > h2 {
    padding-bottom: 20px;
    font-size: 30px;
  }

  .section4-card {
    width: 90%;
    margin: -55% auto;
  }

  .footer-info {
    width: 30%;
  }

}

@media (max-width: 850px) {
  nav {
    padding: 30px 30px;
  }

  .section4-card {
    margin: -60% auto;
  }

  .section4-card > .card-info {
    width: 90%;
  }

  .testimonial-header{
    padding: 40px 0;
  }

  .footer-info {
    width: 50%;
  }

}

@media (max-width: 720px) {

  .navMenu {
    background-color: navy;
    position: absolute;
    top: 95px;
    width: 100%;
    height: 100vh;
    margin-right: -30px;
    left: -100%;
		transition: 0.5s;
  }

  .navItems {
		display: block;
		text-align: center;
    padding: 40px;
	}

  #contact {
    width: 30%;
    margin-left: 28%;
  }

  .menu-toggle {
		display: block;
		margin-right: -15px;
		color: white;
	}

  .active {
		left: 0;
	}

  .section4-card {
    margin: -70% auto;
  }

  .section4-card > .card-info {
    width: 100%;
  }

}

@media (max-width: 600px) {
  .card > .card-info {
    width: 90%;
  }
  
  .testimonial-header {
    width: 70%;
  }

  .section5-cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }


}


@media (max-width: 550px) {

  nav {
    padding: 20px 30px;
  }

  .logo {
    padding-top: 15px;
  }
  
  .banner {
    font-size: 20px;
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr;
    height: 120vh;
  }

  .card {
    height: 60vh;
  }

  .card > img {
    height: 60vh;
    width: 100%;
  }

  #section4-img {
    height: 60vh;
    width: 100%;
  }

  .card-info {
    width: 50%;
    margin: 20% auto;
  }

  .card-info > p {
    padding-bottom: 30px;
  }

  .section4-card {
    margin: -50% auto;
  }

  .section5-cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 60px;
  }

  .section6-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .footer , .footer-info {
    width: 70%;
  }

}

@media (min-width: 300px) and (max-width: 400px) {

  .section4-card {
    margin: -65% auto;
  }

  .footer-info {
    width: 80%;
  }


}


